
<div class="row ">
  <div class="col">
    <h1 >Selecciona un entrenamiento y añade ejercicios</h1>
    <form [formGroup]="form"  >
      <label for="Nombre">Nombre</label>
      <input formControlName="nombre" class="form-control elmEntrenamiento" [disabled]="activated"  id="Nombre" name="Nombre" placeholder="Ingresa el nombre" required>
      <label for="Descripción">Descripción</label>
      <input  formControlName="descripcion"  class="form-control elmEntrenamiento"  [disabled]="activated" id="Descripción" name="Descripción" placeholder="Ingresa la descripción" required>
      <label for="Tipo">Tipo</label>
      <input   formControlName="tipo" class="form-control elmEntrenamiento"  [disabled]="activated" id="Tipo" name="Tipo" placeholder="Ingresa el tipo" required>

      <label for="Dificultad">Dificultad</label>
      <input   formControlName="dificultad" class="form-control elmEntrenamiento"  [disabled]="activated" id="Dificultad" name="Dificultad" placeholder="Ingresa la dificultad" required>


    </form>

    <button  (click)="addEjercicio()"  type="submit" class="btn btn-primary btn-block ms-5 mt-5">Añadir ejercico</button>

    <div class="mt-5" >

      <mat-form-field appearance="fill">
        <mat-select [(value)]="selectDay">
          <mat-option *ngFor="let day of daysOfWeek" [value]="day">
            {{day}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <form [formGroup]="formEntrenamiento"  >

        <label for="tipoEntrenamiento">Tipo entrenamiento</label>
        <input   formControlName="tipoEntrenamiento" class="form-control elmEntrenamiento"  [disabled]="activated" id="tipoEntrenamiento" name="tipoEntrenamiento" placeholder="Ingresa el tipo de entrenamiento ej(pierna)" required>


      </form>
      <button   type="submit"  (click)="addEntrenamiento()" class="btn btn-primary btn-block ms-5 mt-5">Añadir entrenamiento</button>


    </div>





  </div>
  <div class="col">
    <ul class="coacheeItem list-group">
      <li class="list-group-item h4" *ngFor="let entrenamiento of entrenamientos"

          (click)="onSelectEntrenamiento(entrenamiento)"
      >
        <p>dia: {{ entrenamiento.diaSemana }}  entrenamiento de: {{ entrenamiento.tipo }}</p>

        <ul *ngIf="selectedEntrenamientoId===entrenamiento.id">
          <li *ngFor="let ejercicio of entrenamiento.ejercicios">

            {{ ejercicio.nombre }}:
            {{ ejercicio.descripcion }}
            <p>dificultad: {{ ejercicio.dificultad }} </p>


          </li>

        </ul>
      </li>
    </ul>
  </div>


</div>

